{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<body>
    <div class="container p-5 my-5">
        <div class="row">
            <div class="col-12 mx-auto p-5 my-5">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center p-5 my-5">¡Bienvenido al Inventario de Productos de Lulita!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}