{% extends 'base.html' %}

{% block title %}Lista de Pedidos{% endblock %}

{% block content %}

<body>
    <div class="container p-lg-5 p-md-4">
        <div class="row text-end">
            <div class="col-12 mx-auto">
                <a href="{% url 'pedido_create' %}" class="btn btn-primary btn-lg my-4">Hacer pedido</a>
            </div>
        </div>
        <div class="responsive-scroll tabIndex=0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="tb-number">ID</th>
                        <th scope="col" class="tb-number">N°</th>
                        <th scope="col" class="tb-text">Cliente</th>
                        <th scope="col" class="tb-text">Producto</th>
                        <!-- <th scope="col">Cantidad</th> -->
                        <th scope="col">Fecha</th>
                        <th scope="col">Entregado</th>
                        <th scope="col" class="tb-button text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in object_list %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.numero_pedido }}</td>
                        <td>{{ pedido.nombre_cliente }}</td>
                        <td>
                            <ul class="list-inline">
                                {% for producto in pedido.producto.all %}
                                    <li> {{ producto }}; </li>
                                {% endfor %}
                            </ul>
                        </td> 
                        <td>{{ pedido.fecha }}</td>
                        <td class="text-center">
                            {% if pedido.entregado %}
                            <span class="text-success">✔</span>
                            {% else %}
                            <span class="text-danger">❌</span>
                            {% endif %}
                        </td>
                        <td class="p-2">
                            <div class="text-center">
                                <a href="{% url 'pedido_update' pedido.id %}" type="button" class="btn btn-xs" data-tooltip='Editar'>
                                    <span class="material-symbols-rounded o-icon" aria-hidden="true">edit</span>
                                </a>
                                <a href="{% url 'pedido_delete' pedido.id %}" type="button" class="btn btn-xs" data-tooltip='Eliminar'>
                                    <i class="bx bxs-trash-alt o-icon"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}