{% extends 'base.html' %}

{% block title %}Agregar-modificar{% endblock %}

{% block content %}

<body>
    <div class="container p-sm-4 pt-lg-3">
        <form action="" method="post">
            {% csrf_token %}
            <h2 class="mb-3">Formulario de Producto</h2>
            <div class="row justify-content-center">
                {%for campo in form%}
                <div class="campoWrapper p-3 col-sm-12 col-lg-6">
                    {{ campo.errors }}
                    <label for="{{ campo.auto_id }}" class="form-label mb-2">
                        {{ campo.label }}
                        {% if campo.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ campo }}
                </div>
                    {% endfor %}
                <div class="py-3 text-end">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url 'producto_list' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</body>

{% endblock %}